body {
background: rgb(35,15,66);
background: linear-gradient(90deg, rgba(35,15,66,1) 0%, rgba(60,37,91,1) 50%, rgba(90,47,143,1) 100%);
font-family: 'Montserrat', sans-serif;
}
.container {
    display: flex;
}
